@model pim2.Models.Empresa

@{
    ViewData["Title"] = "Create";
}

    <div class="header-views">

        <h1 class="title-font">Controle de Empresas</h1>

        <nav class="header-nav">
            <ul class="header-nav-menu">
                <li class="header-menu-item"><a asp-action="UserPageIndex" class="header-btn-portal">Inicio</a></li>
                <li class="header-menu-item"><a asp-action="Create" class="header-btn-portal">Cadastrar motorista</a></li>
            </ul>
        </nav>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="nome" class="control-label"></label>
                                <input asp-for="nome" class="form-control" />
                                <span asp-validation-for="nome" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="CNPJ" class="control-label"></label>
                                <input asp-for="CNPJ" class="form-control" />
                                <span asp-validation-for="CNPJ" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="telefone" class="control-label"></label>
                                <input asp-for="telefone" class="form-control" />
                                <span asp-validation-for="telefone" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="email" class="control-label"></label>
                                <input asp-for="email" class="form-control" />
                                <span asp-validation-for="email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="senha" class="control-label"></label>
                                <input asp-for="senha" class="form-control" />
                                <span asp-validation-for="senha" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="endereco" class="control-label"></label>
                                <input asp-for="endereco" class="form-control" />
                                <span asp-validation-for="endereco" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label asp-for="numero" class="control-label"></label>
                                <input asp-for="numero" class="form-control" />
                                <span asp-validation-for="numero" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="bairro" class="control-label"></label>
                                <input asp-for="bairro" class="form-control" />
                                <span asp-validation-for="bairro" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="cidade" class="control-label"></label>
                                <input asp-for="cidade" class="form-control" />
                                <span asp-validation-for="cidade" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-offset-11" style="margin-top: 25px">
                            <div class="form-group">
                                <input type="submit" value="Cadastrar" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                    

                    <div style="text-align:center">
                        @if (ViewBag.Erro != null)
                        {
                            <h3 style="color: white; background-color: red">
                                @ViewBag.Erro
                            </h3>
                        }
                    </div>
                    
                </form>
            </div>
        </div>
    </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
