@model pim2.Models.Login

@{
    ViewData["Title"] = "Login";
}

    <div class="container login">
        <div>
            <i class="glyphicon-user"></i>
            <h2 class="alinhar-texto login-title">Login</h2>
        </div>

        <hr />
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <form asp-action="View">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="usuario" class="control-label"></label>
                        <input asp-for="usuario" class="form-control" />
                        <span asp-validation-for="usuario" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="senha" class="control-label"></label>
                        <input asp-for="senha" class="form-control" />
                        <span asp-validation-for="senha" class="text-danger"></span>
                    </div>
                    <div class="form-group d-flex">
                        <input type="submit" value="Entrar" class="btn btn-default btn-color" /> |
                        <a asp-action="CreateEmpresa"><input type="button" value="Cadastrar empresa" class="btn btn-default" /></a>
                        <a asp-action="Home"><input type="button"  value="Página Inicial" class="btn btn-default" /></a>
                    </div>
                </form>
            </div>
        </div>

        

    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
