
@{
    ViewData["Title"] = "UserPage";
}

    <center>
        <h2>Seja bem-vindo Sr(a). @User.Identity.Name</h2>
        <br><br>
        <a href="~/Home/Logout" class="btn btn-warning">Realizar o logout</a>
        <a asp-action="Empresas" class="btn-default">Cadastro de Empresas</a>
        <a asp-action="Motoristas" class="btn-default">Cadastro de motoristas</a>
        <a asp-action="Veiculos" class="btn-default">Cadastro de veiculos</a>
        <a asp-action="Pecas" class="btn-default">Cadastro de peças</a>
    </center>

