
@{
    ViewData["Title"] = "UserPage";
}

    <center>
        <h2>Usuário @User.Identity.Name</h2>
        <br><br>
        <a href="~/Home/Logout" class="btn btn-warning">Realizar o logout</a>
        <a href="~/Home/Edit" class="btn btn-warning">Editar conta</a>
        <div class="userPage__menu">

            <a asp-action="Lista" class="userPage__card">
                <div class="userPage__card__image">
                    <img src="~/images/empresa.gif" />
                </div>
                <div class="userPage__card__title">
                    <p>Empresas</p>
                </div>
            </a>

            <a asp-action="Motoristas" class="userPage__card">
                <div class="userPage__card__image">
                    <img src="~/images/motorista.gif" />
                </div>
                <div class="userPage__card__title">
                    <p class="btn-default">Cadastro de motoristas</p>
                </div>
            </a>

            <a asp-action="Veiculos" class="userPage__card">
                <div class="userPage__card__image">
                    <img src="~/images/carro.gif" />
                </div>
                <div class="userPage__card__title">
                    <p>teste</p>
                </div>
            </a>

            <a asp-action="Pecas" class="userPage__card">
                <div class="userPage__card__image">

                </div>
                <div class="userPage__card__title">
                    <p>Peças</p>
                </div>
            </a>
        </div>


    </center>

