/* BASIC CSS RESET */
*{ padding: 0; margin: 0; box-sizing: border-box; }
li{ list-style: none; }


body{
    padding: 0 !important;
    margin: 0 !important;
}

.pa {
    text-shadow: -1px 0 #000, 0 1px #000;
}
body{
    font-family: 'Ubuntu', sans-serif;
}

.flex {
    display: flex;
    justify-content: center;
}

.title-font {
    font-size: 2.5rem;
}

/* HEADER */

.header {
    background: linear-gradient(to right, #7474bf, #348ac7);
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-views {
    background: linear-gradient(to right, #7474bf, #348ac7);
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.header-views .header-nav-menu{
    display: flex;
}

.header .header-nav-menu {
    display: flex;
}

.header-menu-item{
    text-transform: uppercase;
}
.header-menu-item a {
    text-decoration: none;
}
.header-menu-item .header-menu-item-link {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
}

li.header-menu-item + .header-menu-item{
    margin-left: 20px;
}

.header-btn-portal{
    font-size: 1.125rem;
    text-transform: uppercase;
    display: block;
    background: white;
    padding: 10px 20px;
    border-radius: 10px;
    color: #030303;
    width: 200px;
    text-align: center;
    letter-spacing: .5px;
    transition: all .5s;
}

.header-btn-portal:hover{
    background: rgba(73, 89, 209, 0.678);
    color: white;
}

/* END HEADER */

/* HERO */

.hero {
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-position: center;
    padding: 120px 40px 0 40px;
    height: 600px;
    color: white;
}

.hero-text .hero-title{
    font-size: 7.5rem;
}

.hero-text .hero-paragraph{
    font-size: 2.5rem;
    padding-top: 20px;
}

.hero-btn{
    display: block;
    margin-top:20px;
    max-width: 300px;
    background-color: white;
    color: #030303;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.125rem;
    font-weight: bold;
    transition: all .5s;
}

.hero-btn:hover{
    color: white;
    background: rgba(73, 89, 209, 0.678);
}

/* END HERO */

/* MAIN */

.main{
    padding: 0 40px 0 40px;
}

.main .main-ifleet{
    padding-top: 60px;
    text-align: center;
}


.main .main-ifleet h2 {
    text-align: center;
    
}

.main-ifleet .main-card {
    margin: 0 20px 0 20px;
    padding-top: 40px;
}

.main-card .main-card-image {
    margin-bottom: 20px;
}

.main-card .main-card-text h3 {
    margin-bottom: 20px;
}

.main-card-text p{
    line-height: 1.5;
}

.about {
    margin-top: 60px;
    padding: 40px 40px 0 40px;
    background-image: url('../images/aboutus.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
    text-align: center;
    color: white;
}

.about p{
    max-width: 800px;
    margin: 40px auto 0 auto;
    line-height: 1.5;
}

/* END MAIN */


/* FOOTER */
.footer {
    /*background-color: #364EFF;*/
    background: linear-gradient(to right, #7474bf, #348ac7);
    padding: 40px;
    text-align: center;
    color: white;
}

.footer .footer-title{
    margin-bottom: 20px;
}

.footer .footer-paragraph{
    font-size: 1.125rem;
}

.footer .footer-paragraph + .footer-paragraph {
    margin-top: 10px;
}

.footer-span{
    display: block;
    margin-top: 20px;
    font-size: .85rem;
}
/* END FOOTER */


/* MEDIA QUERIES */

@media (max-width: 990px){
    .flex{
        flex-direction: column;
    }

    .hero-text .hero-title{
        font-size: 5rem;
    }

    .hero-text .hero-paragraph{
        font-size: 1.5rem;
    }
}